@font-face {
  font-family: 'gpbzi';
  src:
    url("../fonts/gpbzi.ttf?grr1le") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gpbzi' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lang:before {
  content: "\e907";
}
.icon-wifi_50:before {
  content: "\e902";
}
.icon-wifi_75:before {
  content: "\e903";
}
.icon-wifi_full:before {
  content: "\e904";
}
.icon-wifi_low:before {
  content: "\e905";
}
.icon-lock:before {
  content: "\e906";
}
.icon-save:before {
  content: "\e900";
}
.icon-scan:before {
  content: "\e901";
}
