<!DOCTYPE html>
<html lang=de>
<head>
	<meta charset=UTF-8>
	<meta name=viewport content="width=device-width, initial-scale=1.0">
	<title>GPBZ – Settings</title>
	<link rel=stylesheet type=text/css href=./style.css />
	<script type=module src=./gpbz.js></script>
	<link rel=icon href=./favicon.png />
</head>
<body>
<span style="display: none;">success</span>	
<form class=wrapper method=post id=form>
	<section class=center>
		<img src=./logo_gpbz_light.svg alt=GPBZ class=logo />
		<h1 class=title>GPBZ</h1>
		<span>Maschinendeck General Purpose Buzzer</span>
	</section>
	<span class=spacer></span>
	<span id=langSwitcher>
		<span class="icon icon-lang"></span>
		<label data-i18n=Sprache>Sprache</label><br />
		<select>
			<option value=de>Deutsch</option>
			<option value=en>English</option>
		</select>
	</span>
	<section class="grid half-half row">
		<section class=card>
			<h2 data-i18n=Netzwerkeinstellungen></h2>
			<p>
				<label>SSID</label>
				<input type=text name=wifiSsid placeholder=SSID id=iSsid />
			</p>
			<p>
				<label data-i18n=Passwort></label>
				<input type=password name=wifiPassword placeholder=Passwort />
			</p>
		</section>
		<section class=card>
			<h2>
				<span data-i18n="Netzwerke in der Umgebung"></span>
				<a href=# class="button secondary" id=scan title="Nach Netzwerken suchen...">
					<span class="icon icon-scan"></span>
				</a>
			</h2>
			<section id=networkList></section>
		</section>
	</section>
	<section class="card row">
		<h2>Aktion</h2>
		<article class=alert>

		</article>
		<ul class=pills>
			<li data-toggle=http>HTTP</li>
			<li data-toggle=mqtt>MQTT</li>
		</ul>
		<section class=tab id=wifi>
			<p>
				<label data-i18n="Ziel-URL des Tastendrucks"></label>
				<input type=text name=targetURL placeholder="http://" />
			</p>
		</section>
		<section class=tab id=mqtt>
			<p>
				<label>MQTT Server</label>
				<input type=text name=mqttServer placeholder="MQTT Server (IP Adresse präferiert)" />
			</p>
			<p>
				<label>MQTT Port</label>
				<input type=number name=mqttPort placeholder="MQTT Port (default 1883)" />
			</p>
			<p>
				<label data-i18n="MQTT Benutzer"></label>
				<input type=text name=mqttUser placeholder="MQTT Benutzer" />
			</p>
			<p>
				<label data-i18n="MQTT Passwort"></label>
				<input type=password name=mqttPassword placeholder="MQTT Passwort" />
			</p>
			<p>
				<label>MQTT Topic</label>
				<input type=text name=mqttTopic placeholder="my/fancy/topic" />
			</p>
			<p>
				<label data-i18n="MQTT Nachricht"></label>
				<input type=text name=mqttMessage placeholder="MQTT Nachricht" />
			</p>
		</section>
	</section>
	<section class=card>
		<h2>Reset</h2>
		<article class=flex>
			<a href="#" id=rCache data-i18n="WiFi-Cache leeren"></a>
			<a href="#" id=rAll data-i18n="Alle Einstellungen zurücksetzen"></a>
			<a href="#" id=rRestart data-i18n=Neustarten></a>
		</article>
	</section>
	<p>
		<button class=button id=saveBtn><span class="icon icon-save"></span> <span data-i18n=speichern></span></button>
	</p>
</form>
<footer class=center>
	<small>
		&copy; 2023, <a href=https://maschinendeck.org>Maschinendeck Trier e.V.</a>
	</small>
</footer>

<template id=networkItem>
	<article class=network-item>
		<span>{{open}}</span>
		<a href=#>{{ssid}}</a>
		<span><span class=no-mobile>Kanal</span> {{channel}}</span>
		<span title="{{rssi}}db">{{strength}}</span>
	</article>
</template>

<template id=spinner>
	<div class=spinner>
		<div class=lds-ripple><div></div><div></div></div>
	</div>
</template>