@import url("./fonts/style.css");

* {
	box-sizing: border-box;
	hyphens: auto;
}

html, body {
	font-size: 16px;
}

a {
	color: #e30614;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background: #222;
	color: #eee;
}

footer {
	padding: 1rem;
}

h1, h2, h3 {
	font-weight: normal;
	padding: 0;
	margin: 0 0 1rem 0;
}
h1:not(.title), h2, h3 {
	color: #e30614;
}

input {
	background: #000;
	border: none;
	display: block;
	width: 100%;
	border-radius: 4px;
	padding: 0.5rem;
	outline: 0;
	color: #eee;
}

label {
	font-size: 0.8rem;
	text-transform: uppercase;
	padding: 0.5rem 0;
	display: inline-block;
}

.button {
	background: #e30614;
	color: white;
	padding: 1rem 2rem;
	display: block;
	text-align: center;
	font-weight: bold;
	border-radius: 6px;
	width: 100%;
	border: none;
	font-size: 1rem;
	transition: background 0.5s ease-in-out;
}
.button.secondary {
	background: #666;
	display: inline-block;
	width: fit-content;
	padding: 0.5rem 1rem;
	float: right;
}
.button.saved {
	background: #6dba20;
}

.card {
	background: #333;
	padding: 2rem;
	border-radius: 12px;
	margin: 0;
}

.center {
	text-align: center;
}

.flex {
	display: flex;
	gap: 4rem;
}
.flex a {
	color: #888;
	text-align: center;
	flex: 1;
}

.grid {
	display: grid;
	gap: 2rem;
	padding: 1rem 0;
}
.grid.half-half {
	grid-template-columns: 1fr 1fr;
}

.icon {
	vertical-align: middle;
}

.network-item {
	display: grid;
	gap: 1rem;
	grid-template-columns: 20px 40% 1fr 1fr;
	padding: 0.5rem;
}
.network-item:nth-child(even) {
	background: rgba(255,255,255,0.1);
}
.network-item a {
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.row {
	margin-bottom: 1rem;
}

.wrapper {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 2rem;
}

.logo {
	max-width: 100px;
	height: auto;
}

.right {
	text-align: right;
}

.pills {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	border-collapse: collapse;
	border-radius: 6px;
}
.pills li {
	display: inline;
	border: solid 2px #eee;
	padding: 0.5rem 2rem;
	cursor: pointer;
}
.pills li.active {
	background: #e30614;
}
.pills li:not(:last-of-type) {
	border-right: none;
}
.pills li:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.pills li:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.spacer {
	display: block;
	height: 4rem;
}

.tab {
	display: none;
}
.tab.active {
	display: block;
}

#networkList {
	max-height: 300px;
	overflow-y: auto;
}

#langSwitcher {
	position: absolute;
	top: 2rem;
	right: 2rem;
	text-align: center;
}
#langSwitcher .icon {
	margin-right: 0.5rem;
	font-size: 1.2rem;
}
#langSwitcher select {
	background: #333;
	padding: 0.5rem 2rem;
	color: white;
	border: none;
	outline: 0;
}

@media (max-width: 960px) {
	.no-mobile {
		display: none;
	}

	.grid.half-half {
		grid-template-columns: 1fr;
	}

	.card {
		padding: 1rem;
	}

	.flex {
		display: block;
	}
	.flex a {
		display: block;
		padding: 1rem 0;
	}

	#langSwitcher {
		position: static;
		display: block;
		margin: 1rem auto;
		text-align: left;
	}
	#langSwitcher select {
		display: block;
		width: 100%;
	}
}




/* SPINNER */
.spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
}

.lds-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
  .lds-ripple div {
	position: absolute;
	border: 4px solid #eee;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
  .lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
  @keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	4.9% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	5% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}  